.vs/
DemoProject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DemoProject/obj/Debug/DemoProject.csproj.AssemblyReference.cache
.vs/DemoProject/FileContentIndex/497ea652-9ae8-40f5-a8f9-2ddab6b0bb7b.vsidx
DemoProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DemoProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache